/*
*** PROXIMA NOVA
*/
    /* Regular normal */
    @font-face {
        font-family:'Proxima Nova';
        src:url(../fonts/ProximaNova/ProximaNova-Regular.otf);
        font-weight:400;
        font-style:normal;
    }

    /* Regular italic */
    @font-face {
        font-family:'Proxima Nova';
        src:url(../fonts/ProximaNova/ProximaNova-RegularItalic.otf);
        font-weight:400;
    }

    /* Bold normal */
    @font-face {
        font-family:'Proxima Nova';
        src:url(../fonts/ProximaNova/ProximaNova-Bold.otf);
        font-weight:600;
        font-style:bold;
    }

    /* Light */
    @font-face {
        font-family:'Proxima Nova';
        src:url(../fonts/ProximaNova/ProximaNova-Light.otf);
        font-weight:300;
    }

/*
*** AGENDA
*/
    /* Regular normal */
    @font-face {
        font-family:'Agenda';
        src:url(../fonts/Agenda/Agenda-Medium.TTF);
        font-weight:400;
        font-style:normal;
    }

    /* Bold normal */
    @font-face {
        font-family:'Agenda';
        src:url(../fonts/Agenda/agenda-bold.TTF);
        font-weight:600;
        font-style:bold;
    }

    /* Light */
    @font-face {
        font-family:'Agenda';
        src:url(../fonts/Agenda/Agenda-Light.TTF);
        font-weight:300;
    }