iframe {
  display: none;
}

/* COLORS */
$color-light:          #fefefe;
$color-dark:           #252525;
$color-dominant:       #34b475;
$color-dominant-hover: #37a375;

/* FONTS */
$font-agenda:  'Agenda';
$font-proxima: 'Proxima Nova';

/* TRANSITIONS */
$transition-fast:     150ms all;
$transition-standard: 300ms all;
$transition-slow:     600ms all;

/**
*** GENERAL
*/

body {
  background-image: url('../images/bg.jpg');
  background-size: 100%;
  background-position: center center;
  background-repeat: repeat;
  color: $color-light;
  font-family: $font-proxima;
  border-top: 6px solid $color-dominant;
  overflow-x: hidden;
}

.page-search-site,
.page-account {
  background: #07182e;
}

.site-wrapper {
  padding: 2% 5%;
}

a:hover {
  text-decoration: none;
  color: $color-dominant;
  transition: $transition-fast all;
}

p, a {
  color: $color-light;
}

ul {
  list-style: none;
}

.bg-danger {
  background: #e74c3c;
}

.bg-success {
  background: #27ae60;
}

/**
*** HEADER
*/

header {
  height: 80px;
}

header .logo-site {
  width: 140px;
}

header .icon-account {
  width: 24px;
  position: relative;
  top: 30px;
}

/**
*** HEADER TITLE
*/

.header-title .container-title h2 {
  text-transform: uppercase;
  font-family: $font-proxima;
  font-size: 30px;
  font-weight: 600;
}

.header-title .divider {
  width: 100%;
  height: 3px;
  background-color: $color-dominant;
  margin-bottom: 30px;
}

/**
*** FOOTER
*/

footer {
  width: 100%;
  height: 50px;
  background: $color-dark;
  position: absolute; 
    bottom: 0;
}

footer .legal,
footer .logo-db{
  font-size: 12px;
  color: #d3d3d3;
  position: relative;
  top: 15px;
}

footer .logo-db {
  width: 37px;
  float: right;
  left: 17px;
}

footer .info-db {
  font-size: 11px;
  position: relative;
  top: 18px;
  float: left;
  color: #d3d3d3;
}

.hidden-footer {
  display: none;
}

/**
*** NAV
*/

.container-account .container-nav {
  background: $color-light;
  width: 180px;
  z-index: 3;
  display: none;
  position: absolute;
  top: 80px;
  right: 25px;
}

.container-account .container-nav ul {
  margin-top: 10px;
}

.container-account .container-nav ul li {
  margin-bottom: 4px;
  position: relative;
  right: 10px;
}

.container-account .container-nav a {
  color: $color-dark;
  font-size: 18px;
  font-weight: 300;
}

.container-account .container-nav .icon {
  position: relative;
  bottom: 3px;
  right: 10px;
}

/**
*** LANDING PAGE
*/

.logo-landing {
  width: 360px;
  margin-top: 25%;
}

.start-exp {
  font-size: 24px;
  color: $color-light;
  transition: $transition-standard all;
  
  &:before {
    content: "";
    width: 6px;
    height: 42px;
    margin-top: -4px;
    margin-left: -15px;
    background: $color-dominant;
    position: absolute;
    transition: $transition-standard all;
  }

  &:after {
    content: "";
    width: 6px;
    height: 42px;
    margin-top: -4px;
    margin-left: 10px;
    background: $color-dominant;
    position: absolute;
    transition: $transition-standard all;
  }
}

/**
*** PLAYER INDEX
*/


.player-controls {
  margin-top: 35vh;
}

/* PROGRESS BAR */

.player-controls .seek-bar-video {
  width: 100%;
  height: 13px;
  background: $color-light;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.player-controls .seek-bar-video .progress-bar-video {
  width: 100%;
  height: 100%;
  background: $color-dominant;
  position: absolute;
  z-index: 10;
  -webkit-transform: scaleX(0);
     -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
     -o-transform: scaleX(0);
      transform: scaleX(0);
  -webkit-transition: transfrom 100ms;
     -moz-transition: transfrom 100ms;
    -ms-transition: transfrom 100ms;
     -o-transition: transfrom 100ms;
      transition: transfrom 100ms;
  -webkit-transform-origin: 0;
     -moz-transform-origin: 0;
    -ms-transform-origin: 0;
     -o-transform-origin: 0;
      transform-origin: 0;
}

.player-controls .seek-bar-video .cursor-bar-video {
  width: 9px;
  height: 19px;
  background: $color-dominant;
  margin-left: -4px;
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
    -ms-transform: scale(0);
     -o-transform: scale(0);
      transform: scale(0);
  z-index: 10;
  position: absolute;
  top: -2.5px;
}

/* CONTROLS + INFOS */

.player-controls .icons-container a {
  padding: 15px;
}

.player-controls .container-informations-music {
  position: relative;
  bottom: 65px;
}

.player-controls .container-informations-music .song {
  font-weight: 600;
}

.player-controls .container-informations-music .artist {
  text-transform: uppercase;
}

.player-controls .icon-player {
  width: 24px;
  position: relative;
  bottom: 40px;
}

.player-controls .container-duration-current-video {
  position: relative;
  bottom: 10px;
}

.player-controls .currentTimeVideo,
.player-controls .durationVideo {
  font-size: 18px;
  font-weight: 300;
}

.button-player-left {
  float: right;
}

.button-player-right {
  float: left;
}

.buttons-player .button-see-movie {
  background: $color-dominant;
  padding: 10px 20px;
  transition: $transition-fast;
  position: relative;
    top: 30px;
}

.buttons-player .button-see-movie .icon-movie {
  width: 28px;
  position: relative;
  bottom: 2px;
  right: 8px;
}

.buttons-player .button-see-movie:hover {
  color: $color-light;
  background: $color-dominant-hover;
  transition: $transition-fast;
}

.buttons-player .button-share-movie {
  background: #1da1f2;
  padding: 10px 40px 10px 40px;
  position: relative;
  transition: $transition-fast;
    top: 30px;
}

.buttons-player .button-share-movie:hover {
  color: $color-light;
  background: #2198ce;
  transition: $transition-fast;
}

.buttons-player .button-share-movie .icon-twitter {
  width: 20px;
  position: relative;
  bottom: 2px;
  right: 18px;
}

/**
*** PLAYER MOVIE
*/

.player-bottom {
  background: #dcdcdc !important;
  width: 100%;
  height: 70px;
  position: fixed;
  bottom: 0;
  z-index: 100;
}

.player-bottom .icons-container {
  position: relative;
  left: -18px;
}

.player-bottom .icons-container .icon-player {
  width: 15px;
  position: relative;
  top: 16px;
  left: 16px;
}

.player-bottom .container-informations-music {
  position: relative;
  bottom: 9px;
}

.player-bottom .container-informations-music .song,
.player-bottom .container-informations-music .artist {
  font-weight: 300;
  font-size: 12px;
}

.player-bottom .container-informations-music h3 {
  position: relative;
    top: 17px !important;
}

.player-bottom .container-informations-music .artist {
  text-transform: uppercase;
}

/*
*** SEARCH
*/

/* SEARCH ICON */

header .icon-search {
  width: 24px;
  position: relative;
  top: 30px;
}

header .active-search {
  background: $color-dominant;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  top: 18px;
  left: -12px;
}

header .active-search a {
  position: relative;
  top: -17px;
  left: 12px;
}

/* SEARCH BAR */

#search .search-bar {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 25px;
  border-bottom: solid 3px $color-dominant;
  margin-bottom: 40px;
}

.nav_pages {
    width: 100%;
    letter-spacing: 3px;
    text-align: center;
}

/* SEARCH RESULTS */

.result-search .title-movie {
  font-family: $font-proxima;
  font-weight: 300;
  font-size: 24px !important;
}

.row-results {
  margin-bottom: 40px;
}

/*
*** LOG IN / SIGN IN
**/
.page-account input {
  background: transparent;
  border: none;
  border-radius: 0;
  outline: none;
  font-size: 25px;
  border-bottom: solid 2px $color-dominant;
}

.page-account input:focus,
.page-account input:not(:focus) {
  outline: none;
  outline-offset: none;
}

.page-account label {
  font-weight: 300;
  text-transform: uppercase;
}

.page-account h4 {
  margin-bottom: 30px;
  font-family: $font-proxima;
  font-weight: 400;
  font-size: 22px;
  margin-left: 14px; 

  &:before {
    content: "";
    background: $color-dominant;
    width: 4px;
    height: 21px;
    position: absolute;
    margin-left: -14px; 
  }
}

.page-account .btn-submit {
  font-size: 20px;
  font-weight: 300;
}

/*
*** PAGE MOVIE
*/

/* MODAL */

header .hidden-search-bar {
  display: none;
}

#movie-details {
  background-color: white; 
  width: 100vw;
  height: auto;
}


.page-movie .cross-container {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 99;
  cursor: pointer;
}

.page-movie .cross-line-1,
.page-movie .cross-line-2 {
  width: 25px;
  height: 3px;
  background: $color-light;
}

.page-movie .cross-line-1 {
  transform: rotate(45deg);
}

.page-movie .cross-line-2 {
  transform: rotate(-45deg);
  position: relative;
  top: -2px;
}

/* GENERAL */

.page-movie header{
  display: none;
}

.page-movie {
  background: $color-light;
  color: $color-dark;
}

.page-movie p {
  color: $color-dark;
}

.page-movie h3 {
  color: $color-dark;
  font-family: $font-agenda;
  font-weight: 600;
  font-size: 32px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.page-movie .header-movie {
  width: 120%;
  height: 40vh;
  overflow: hidden;
}

/* HEADER */

.page-movie .header-movie .img-header {
  width: 120%;
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  position: relative;
  left: -10%;
  top: -5%;
}

.page-movie  .container-title-movie h3 {
  font-size: 42px;
}

.page-movie .container-date-movie span {
  color: $color-dark;
  font-family: $font-agenda;
  font-weight: 300;
  font-size: 18px;
}

.page-movie .container-genre-movie {
  color: $color-dark;
  font-family: $font-agenda;
  font-weight: 300;
  font-size: 14px;
}

.page-movie .container-date-movie,
.page-movie .container-genre-movie {
  position: relative;
  bottom: 14px;
}

/* POSTER */

.page-movie .container-poster {
  width: 100%;
  position: relative;
  top: -150px;
}

.page-movie .container-poster img {
  width: 100%;
}

.page-movie .site-wrapper {
  padding: 0;
}

/* CONTENT */

.page-movie .container-informations-movie {
  padding: 2% 5%;
}

.page-movie .container-description-movie h4 {
 font-family: $font-agenda;
 font-weight: 600;
 font-size: 26px;
}

.page-movie .informations-movies-global {
  padding: 0% 5%;
}

.page-movie .casting-informations {
  position: relative;
  top: -100px;
}

.page-movie .casting-informations ul li {
  margin-bottom: 30px;
}

/* PLAYER */

.page-movie .playlist .container-icon-play {
  width: 32px;
  height: 32px;
  background: transparent;
  border-radius: 50%;
  border: 3px solid $color-dark;
}

.page-movie .playlist .container-icon-play:hover {
  transition: $transition-standard;
  background: $color-dominant;
}

.page-movie .playlist .icon-play {
  width: 10px;
  position: relative;
  top: 3px;
  left: 9px;
}

.page-movie .playlist .container-informations-music {
  float: left;
  color: $color-dark;
}

.page-movie .playlist .row {
  margin-bottom: 30px;
}

.page-movie .add-song {
  position: fixed;
  bottom: 15px;
  right: 30px;
  background: #34b475;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 101;
}

.hidden-movie-details {
  display: none;
}

/*
*** LEGALS
**/

.page-legals {
  color: $color-light;
  font-family: $font-agenda;
  font-size: 16px;
}

/* INPUTS */

.group { 
  position: relative; 
  margin-bottom: 45px; 
}

input {
  width: 100%;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border:none;
  border-bottom: 1px solid $color-dominant;
  background: transparent;
}

input:focus { 
  outline: none; 
}

label {
  color: $color-light; 
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

input:focus ~ label, input:valid ~ label    {
  top: -20px;
  font-size: 14px;
  color: $color-dominant;
}

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after   {
  content: '';
  height: 2px; 
  width: 0;
  bottom: 1px; 
  position: absolute;
  background: $color-dominant; 
  transition: 0.2s ease all; 
  -moz-transition: 0.2s ease all; 
  -webkit-transition: 0.2s ease all;
}

.bar:before {
  left: 50%;
}

.bar:after {
  right: 50%; 
}

input:focus ~ .bar:before, input:focus ~ .bar:after {
  width: 50%;
}

.highlight {
  position:absolute;
  height: 60%; 
  width: 100px; 
  top: 25%; 
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

input:focus ~ .highlight {
  -webkit-animation:inputHighlighter 0.3s ease;
  -moz-animation:inputHighlighter 0.3s ease;
  animation:inputHighlighter 0.3s ease;
}

@-webkit-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@-moz-keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}
@keyframes inputHighlighter {
  from { background:#5264AE; }
  to  { width:0; background:transparent; }
}

input[type=submit] {
  background: $color-dominant;
  color: $color-light;
  font-size: 18px;
  text-transform: uppercase;
  border: none;
  border-radius: none;
  line-height: 30px;
  transition: $transition-fast;
}

input[type=submit]:hover {
  transition: $transition-fast;
  background: $color-dominant-hover;
  color: $color-light;
}