iframe {
  display: none;
}

/* COLORS */
$color-light: #fefefe;
$color-dark: #252525;
$color-dominant: #34b475;

/* FONTS */
$font-agenda: 'Agenda';
$font-proxima: 'Proxima Nova';

/* TRANSITIONS */
$transition-fast: 150ms all;
$transition-standard: 300ms all;
$transition-slow: 600ms all;

/**
*** GENERAL
*/

body {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: center center;
  color: $color-light;
  font-family: $font-proxima;
}

.page-search-site {
  background: #07182e;
}

.site-wrapper {
  padding: 2% 5%;
}

a:hover {
  text-decoration: none;
  color: $color-dominant;
  transition: $transition-fast all;
}

p, a {
  color: $color-light;
}

/**
*** HEADER
*/

header {
  height: 80px;
}

header .logo-site {
  width: 140px;
}

/**
*** FOOTER
*/

footer {
  width: 100%;
  height: 50px;
  background: $color-dark;
  position: absolute; 
    bottom: 0;
}

footer .legal,
footer .logo-db{
  font-size: 12px;
  color: #d3d3d3;
  position: relative;
  top: 15px;
}

footer .logo-db {
  width: 37px;
  float: right;
  left: 17px;
}

footer .info-db {
  font-size: 11px;
  position: relative;
  top: 18px;
  float: left;
  color: #d3d3d3;
}

.hidden-footer {
  display: none;
}

/**
*** LANDING PAGE
*/

.logo-landing {
  width: 360px;
  margin-top: 25%;
}

.start-exp {
  font-size: 24px;
  color: $color-light;
  transition: $transition-standard all;
  
  &:before {
    content: "";
    width: 6px;
    height: 42px;
    margin-top: -4px;
    margin-left: -15px;
    background: $color-dominant;
    position: absolute;
    transition: $transition-standard all;
  }

  &:after {
    content: "";
    width: 6px;
    height: 42px;
    margin-top: -4px;
    margin-left: 10px;
    background: $color-dominant;
    position: absolute;
    transition: $transition-standard all;
  }
}

/**
*** PLAYER INDEX
*/

.player-controls {
  margin-top: 35vh;
}

/* PROGRESS BAR */

.player-controls .seek-bar-video {
  width: 100%;
  height: 13px;
  background: $color-light;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.player-controls .seek-bar-video .progress-bar-video {
  width: 100%;
  height: 100%;
  background: $color-dominant;
  position: absolute;
  z-index: 10;
  -webkit-transform: scaleX(0);
     -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
     -o-transform: scaleX(0);
      transform: scaleX(0);
  -webkit-transition: transfrom 100ms;
     -moz-transition: transfrom 100ms;
    -ms-transition: transfrom 100ms;
     -o-transition: transfrom 100ms;
      transition: transfrom 100ms;
  -webkit-transform-origin: 0;
     -moz-transform-origin: 0;
    -ms-transform-origin: 0;
     -o-transform-origin: 0;
      transform-origin: 0;
}

.player-controls .seek-bar-video .cursor-bar-video {
  width: 9px;
  height: 19px;
  background: $color-dominant;
  margin-left: -4px;
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
    -ms-transform: scale(0);
     -o-transform: scale(0);
      transform: scale(0);
  z-index: 10;
  position: absolute;
  top: -2.5px;
}

/* CONTROLS + INFOS */

.player-controls .icons-container a {
  padding: 15px;
}

.player-controls .container-informations-music {
  position: relative;
  bottom: 65px;
}

.player-controls .container-informations-music .song {
  font-weight: 600;
}

.player-controls .icon-player {
  width: 24px;
  position: relative;
  bottom: 40px;
}

.player-controls .container-duration-current-video {
  position: relative;
  bottom: 10px;
}

.player-controls .currentTimeVideo,
.player-controls .durationVideo {
  font-size: 18px;
  font-weight: 300;
}


/**
*** PLAYER MOVIE
*/

/* DO IT */

/*
*** SEARCH
*/

/* SEARCH ICON */

header .hidden-search-bar {
  display: none;
}

header .glyphicon-search {
  color: $color-light;
  font-size: 25px;
  position: relative;
  top: 30px;
}

header .active-search {
  background: $color-dominant;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: relative;
  top: 18px;
  left: -12px;
}

header .active-search a {
  position: relative;
  top: -17px;
  left: 12px;
}

/* SEARCH BAR */

#search .search-bar {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 25px;
  border-bottom: solid 3px $color-dominant;
  margin-bottom: 40px;
}

.nav_pages {
    width: 100%;
    letter-spacing: 3px;
    text-align: center;
}

.array {
    text-align: left;
}

/* SEARCH RESULTS */

.result-search .title-movie {
  font-family: $font-proxima;
  font-weight: 300;
  font-size: 24px !important;
}

.row-results {
  margin-bottom: 40px;
}

/*
****
***** MEDIAS QUERIES RESPONSIVE
****
**/

@media screen and (max-width: 640px) {
  .bloc {
    display:block;
    clear:both;
  }
}