iframe {
  display: none;
}

/* COLORS */
$color-light: #fefefe;
$color-dark: #252525;
$color-dominant: #34b475;

/* FONTS */
$font-agenda: 'Agenda';
$font-proxima: 'Proxima Nova';

/* TRANSITIONS */
$transition-fast: 150ms all;
$transition-standard: 300ms all;
$transition-slow: 600ms all;

body {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  background-position: center center;
  color: $color-light;
  padding: 2% 5%;
  font-family: 'Agenda';
}

a:hover {
  text-decoration: none;
  color: $color-dominant;
  transition: $transition-fast all;
}

header {
  height: 80px;
}

header .logo-site {
  width: 140px;
}

/**
*** LANDING PAGE
*/

.logo-landing {
  width: 360px;
  margin-top: 25%;
}

.start-exp {
  font-size: 24px;
  color: $color-light;
  transition: $transition-standard all;
  
  &:before {
    content: "";
    width: 6px;
    height: 42px;
    margin-top: -4px;
    margin-left: -15px;
    background: $color-dominant;
    position: absolute;
    transition: $transition-standard all;
  }

  &:after {
    content: "";
    width: 6px;
    height: 42px;
    margin-top: -4px;
    margin-left: 10px;
    background: $color-dominant;
    position: absolute;
    transition: $transition-standard all;
  }
}

/**
*** PLAYER
*/

.icon-player {
  width: 16px;
}

/* PROGRESS BAR */

.player-controls .seek-bar-video {
  width: 100%;
  height: 13px;
  background: $color-light;
  margin: 0 auto;
  cursor: pointer;
  position: relative;
  z-index: 10;
}

.player-controls .seek-bar-video .progress-bar-video {
  width: 100%;
  height: 100%;
  background: $color-dominant;
  position: absolute;
  z-index: 10;
  -webkit-transform: scaleX(0);
     -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
     -o-transform: scaleX(0);
      transform: scaleX(0);
  -webkit-transition: transfrom 100ms;
     -moz-transition: transfrom 100ms;
    -ms-transition: transfrom 100ms;
     -o-transition: transfrom 100ms;
      transition: transfrom 100ms;
  -webkit-transform-origin: 0;
     -moz-transform-origin: 0;
    -ms-transform-origin: 0;
     -o-transform-origin: 0;
      transform-origin: 0;
}

.player-controls .seek-bar-video .cursor-bar-video {
  width: 9px;
  height: 19px;
  background: $color-dominant;
  position: absolute;
    top: -2.5px;
  margin-left: -4px;
  -webkit-transform: scale(0);
     -moz-transform: scale(0);
    -ms-transform: scale(0);
     -o-transform: scale(0);
      transform: scale(0);
  z-index: 10;
}


/*
*** SEARCH
*/

header .hidden-search-bar {
  display: none;
}

header .glyphicon-search {
  color: $color-light;
  font-size: 25px;
}

#search input[type="search"]{
    
}

.nav_pages {
    width: 100%;
    letter-spacing: 3px;
    text-align: center;
}

.array {
    text-align: left;
}